.git/
.cache/
.log/
*/*/__pycache__*
*/*/.idea*
**/**/__pycache__*
**/**/.idea*
**/**/.pytest_cache
swagger_spec.yaml
Makefile
nginx
etc
venv/
.coverage
docker-compose.override.yml
.env*
.gitignore
.pre-commit-config.yaml
.ruff_cache
.mypy_cache
.venv/
*.pyc
*.pyo
*.pyd
.idea/
.vscode/