# docker-compose.yml

---
services:
  cachedb:
    image: docker.io/library/redis:latest
    restart: unless-stopped
    volumes:
      - cachedb_store:/data
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    image: sf:${TAG:-latest}
    init: true
    restart: unless-stopped
    build: .
    ports:
      - "8008:8008"
    env_file:
      - .env
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=${OTLP_ENDPOINT:-http://alloy:4318}
      - OTEL_METRICS_EXPORTER=none
      - LANGSMITH_OTEL_ENABLED=true
      - LANGSMITH_OTEL_ONLY=true
      - LANGSMITH_TRACING=true
    depends_on:
      cachedb:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "sh", "-c", "wget --quiet --tries=1 --output-document=- http://127.0.0.1:8008/api/v1/healthcheck/ | grep -q -w ok || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  prometheus:
    image: prom/prometheus:latest
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - ./etc/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_store:/prometheus
    healthcheck:
      test: ["CMD", "sh", "-c", "wget --quiet --tries=1 --output-document=- http://localhost:9090/-/ready | grep -q -w Ready || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  loki:
    image: grafana/loki:latest
    restart: unless-stopped
    ports:
      - "3100:3100"
    volumes:
      - ./etc/loki-config.yml:/etc/loki/local-config.yaml
      - loki_store:/loki
    healthcheck:
      test: ["CMD", "sh", "-c", "wget --quiet --tries=1 --output-document=- http://localhost:3100/ready | grep -q -w ready || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  alloy:
    image: grafana/alloy:latest
    restart: unless-stopped
    privileged: true
    ports:
      - "12345:12345"
      - "4317:4317"
      - "4318:4318"
    command:
      - run
      - --server.http.listen-addr=0.0.0.0:12345
      - --storage.path=/var/lib/alloy/data
      - /etc/alloy/config.alloy
    environment:
      ALLOY_DEPLOY_MODE: docker
    depends_on:
      - loki
      - tempo
    volumes:
      - ./etc/alloy-config.alloy:/etc/alloy/config.alloy
      - /var/run/docker.sock:/var/run/docker.sock
    healthcheck:
      test: [ "CMD", "sh", "-c", "pgrep -f alloy || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  tempo:
    image: grafana/tempo:latest
    command: [ "-config.file=/etc/tempo.yml" ]
    volumes:
      - ./etc/tempo-config.yml:/etc/tempo.yml
      - tempo-store:/var/tempo
    ports:
      - "3200:3200"
    expose:
      - "4317"
      - "4318"

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    depends_on:
      - loki
      - prometheus
      - tempo
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_LOG_LEVEL=warn
      - GF_LOG_FILTERS=context:warn,publicdashboards:error
    volumes:
      - ./etc/grafana/:/etc/grafana/provisioning
      - grafana_store:/var/lib/grafana
    healthcheck:
      test: ["CMD", "sh", "-c", 'curl -f http://localhost:3000/api/health -w "%{http_code}" -L -o /dev/null -s | grep "^200$" || exit 1' ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

volumes:
  cachedb_store:
  prometheus_store:
  grafana_store:
  loki_store:
  tempo-store:
