server:
  http_listen_port: 3200

stream_over_http_enabled: true

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318

metrics_generator:
  registry:
    external_labels:
      source: tempo
  storage:
    path: /var/tempo/generator/wal
  traces_storage:
    path: /var/tempo/generator/traces
  processor:
    service_graphs:
      histogram_buckets: [0.1, 0.2, 0.4, 0.8, 1.6, 3.2, 6.4, 12.8]
      max_items: 10000

storage:
  trace:
    backend: local
    local:
      path: /var/tempo

compactor:
  compaction:
    block_retention: 48h

overrides:
  defaults:
    metrics_generator:
      processors: [service-graphs]
